
<%errors.forEach(function(meassage){ %>
    <div class="alert alert-danger text-center"><%= meassage %></div>
<% }) %>

<%success.forEach(function(meassage){ %>
    <div class="alert alert-success text-center"><%= meassage %></div>
<% }) %>
